# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/dartpad/web_plugin_registrant.dart
android/local.properties
android/.gradle/8.0/checksums/checksums.lock
android/.gradle/8.0/checksums/md5-checksums.bin
android/.gradle/8.0/checksums/sha1-checksums.bin
android/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
android/.gradle/8.0/fileHashes/fileHashes.bin
android/.gradle/8.0/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
linux/flutter/ephemeral/.plugin_symlinks/shared_preferences_linux
linux/flutter/ephemeral/.plugin_symlinks/smart_auth
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
windows/flutter/ephemeral/.plugin_symlinks/cloud_firestore
windows/flutter/ephemeral/.plugin_symlinks/file_selector_windows
windows/flutter/ephemeral/.plugin_symlinks/firebase_auth
windows/flutter/ephemeral/.plugin_symlinks/firebase_core
windows/flutter/ephemeral/.plugin_symlinks/firebase_storage
windows/flutter/ephemeral/.plugin_symlinks/image_picker_windows
windows/flutter/ephemeral/.plugin_symlinks/path_provider_windows
windows/flutter/ephemeral/.plugin_symlinks/shared_preferences_windows
windows/flutter/ephemeral/.plugin_symlinks/smart_auth
android/.gradle/buildOutputCleanup/outputFiles.bin
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/dartpad/web_plugin_registrant.dart
android/local.properties
android/.gradle/8.0/checksums/checksums.lock
android/.gradle/8.0/checksums/md5-checksums.bin
android/.gradle/8.0/checksums/sha1-checksums.bin
android/.gradle/8.0/fileHashes/fileHashes.bin
android/.gradle/8.0/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
